h2, h3, h4 {
    color: white;
}

.intro,
.education,
.skills,
.experience {
	width: 100%;
}

.intro {
	background: green;
	min-height: 40vh;
	min-height: calc(270px + 12vw);
}

.intro img {
	float: left;
	padding: 0 5vw 5vw 0;
}

.intro h4{
	padding: 6vw;
}

.facts {
	width: 100%;
}

.education{
	background: url("/img/bio/bu_campus.png");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
}

.education a {
	display: block;
	height: 20vw;
	width: 20vw;
	background: url("/img/bio/bu_seal.png");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
}

.skills {
	background: #33d6ff;
}

.experience {
	background: #33ffad;
}

.section_title {
	width: 100vw;
	padding-top: 1vw;
	text-align: center;
}

.section_title > div {
	border: 2px solid white;
	border-radius: 2px;
	width: 80px;
	margin: 0 auto;
}