.intro {
	width: 80vw;
	max-width: 850px;
	max-width: calc(35vw + 375px);
	margin: 0 auto;
	padding-top: 2vw;
	overflow: auto;
}

.intro div {
	padding-right: 25px;
	float: left;
}

h3{
    font: 1em Merriweather, serif;
    color: #999;
    padding: 10px 0 10px 0;
}

h4{
	text-align: justify;
    padding: 0 0 2vw 0;
}