@keyframes intro_entry{
	0% {
		transform: translateY(10%);
		opacity: 0;
	}
	50% {
		transform: translateY(10%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes -webkit-intro_entry{
	0% {
		transform: translateY(10%);
		opacity: 0;
	}
	50% {
		transform: translateY(10%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.row{
	width: 100%;
	overflow: visible;
}

.intro {
	float: left;
	width: 75%;
    text-align: justify;
  	animation-name: intro_entry;
  	-webkit-animation-name: intro_entry;
 	animation-duration: 1.2s;
}

.intro h1{ 
    font: 9.7vw Oswald, sans-serif;
    color: #444;
    width: 100%;
    padding: 0 1vw;
    height: 9vw;
    padding-top: -2vw;
}





.hook, .post {
	width: 75vw;
	max-width: 750px;
	max-width: calc(25vw + 375px);
	margin: 6vh auto 2vh auto;
	text-align: center;
  	animation-name: intro_entry;
  	-webkit-animation-name: intro_entry;
 	animation-duration: 1.2s;
}

.line_border {
	border: 1px solid #ccc;
	width: 10vw;
	margin: 0 auto;
}

.spine {
	padding-top: 12%;
	width: 1px;
	border: 1px solid #ccc;
	margin: 0 auto;
}
.neck {
	padding-top: 25%;
}
.continuum {
	margin: 10px auto;
	padding-top: 4px;
}

.post {
	margin: 0 auto;
}

.post h4{
	padding-top: 0;
}

.post h3{
	padding: 7px 0;
	width: 130px;
	border: 1px solid #ccc;
	margin: 0 auto;
}