@keyframes title_entry{
	0% {
		transform: translateX(-10%);
		opacity: 0;
	}
	50% {
		transform: translateX(-10%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes -webkit-title_entry{
	0% {
		transform: translateX(-10%);
		opacity: 0;
	}
	50% {
		transform: translateX(-10%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes spread{
	0%   { transform: scaleX(0); }
	100% { transform: scaleX(1); }
}

@keyframes -webkit-spread{
	0%   { transform: scaleX(0); }
	100% { transform: scaleX(1); }
}

.title {
	background: white;
	width: 100%;
    text-align: center;
    padding-top: 28vh;
    padding-top: calc(36vh - 6vw);
}

.title h1{ 
    font: 10vw 'Cinzel Decorative', sans-serif;
    color: #444;
    width: 100%;
    height: 8vw;
  	animation-name: title_entry;
  	-webkit-animation-name: title_entry;
 	animation-duration: 1.2s;
}

.hook, .post {
	width: 75vw;
	max-width: 750px;
	max-width: calc(25vw + 375px);
	margin: 6vh auto 2vh auto;
	text-align: center;
  	animation-name: title_entry;
  	-webkit-animation-name: title_entry;
 	animation-duration: 1.2s;
}

.title h4 {
    padding: 15px 0 20px 0;
}

.line_border {
	border: 1px solid #ccc;
	width: 10vw;
	margin: 0 auto;
}

.spine {
	padding-top: 15%;
	width: 1px;
	border: 1px solid #ccc;
	margin: 0 auto;
  	animation-name: spread;
  	-webkit-animation-name: spread;
 	animation-duration: 0.6s;
}

.neck {
	padding-top: 30%;
}

.post {
	margin: 0 auto;
}

.post h3{
	padding: 7px 0;
	width: 130px;
	border: 1px solid #ccc;
	margin: 0 auto;
}