@keyframes title_entry{
	0% {
		transform: translateX(-10%);
		opacity: 0;
	}
	50% {
		transform: translateX(-10%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes -webkit-title_entry{
	0% {
		transform: translateX(-10%);
		opacity: 0;
	}
	50% {
		transform: translateX(-10%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.title {
	background: white;
	width: 100%;
    text-align: center;
    padding-top: 28vh;
    padding-top: calc(36vh - 6vw);
}

.title h1{ 
    font: 10vw Cinzel, sans-serif;
    color: #444;
    width: 100%;
    height: 8vw;
  	animation-name: title_entry;
  	-webkit-animation-name: title_entry;
 	animation-duration: 1.2s;
}

.hook, .post {
	width: 75vw;
	max-width: 750px;
	max-width: calc(25vw + 375px);
	margin: 0 auto;
	padding: 6vh 0 2vh 0;
	text-align: center;
}

.title h4 {
    padding: 15px 0 20px 0;
  	animation-name: title_entry;
  	-webkit-animation-name: title_entry;
 	animation-duration: 1.2s;
}

.line_border {
	border: 1px solid #444;
	width: 20vw;
	margin: 0 auto;
}

.spine {
	padding-top: 35%;
	width: 1px;
	border: 1px solid #444;
	margin: 0 auto;
}

.post {
	padding: 0;
}

.post h3{
	line-height: 25px;
	height: 50px;
	border: 1px solid #444;
	border-radius: 10px;
	margin: 0 auto;
}