.intro{
	width: 75vw;
	max-width: calc(375px + 25vw);
	margin: 0 auto;
	padding: 6vh 0 25vh 0;
	text-align: justify;
  	animation-name: slide_left;
  	-webkit-animation-name: slide_left;
 	animation-duration: 0.9s;
}

.articles > a{ 
	width: 25%;
}

.seltra{ background: url("/img/frontpage/seltra.png"); }
.ink{ background: url("/img/frontpage/ink.png"); }
.listen{ background: url("/img/frontpage/headshot.png"); }
.monolith{ background: url("/img/frontpage/monolith.png"); }
.peek{
	padding-bottom: 1vw;
	width: 100%;
	height: 17vw;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}