@keyframes title_entry{
	0% {
		opacity: 0;
	}
	40% {
		transform: scale(0.95);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes -webkit-title_entry{
	0% {
		opacity: 0;
	}
	40% {
		transform: scale(0.95);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes button_entry{
	0% {
		opacity: 0;
	}
	83.3% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes -webkit-button_entry{
	0% {
		opacity: 0;
	}
	83.3% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes green_lantern {
	from { border-color: #bbb; color: #888; }
	to   { border-color: #00e6b8; color: #00e6b8; }
}
@keyframes -webkit-green_lantern {
	from { border-color: #bbb; color: #888; }
	to   { border-color: #00e6b8; color: #00e6b8; }
}

*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	z-index: 0; /* Set so that header always stays on top. Keep it as 0 SPECIFICALLY */
}

body {
	background: white;
    font-size: 62.5%;
}

.wrapper{
	position: relative;
	font-size: 1.6em;
	margin: 0 auto; /* Automatically centers item */
}

.title {
	width: 100%;
    text-align: center;
    margin-top: 42vh;
    margin-top: calc(46vh - 5vw);
  	animation-name: title_entry;
  	-webkit-animation-name: title_entry;
 	animation-duration: 2.5s;
}

.title > h1, .title > h5{ 
    font: 7vw Cinzel, sans-serif;
    color: #444;
    height: 8vw;
}

.title > h5 {
	font-size: 2.2vw;
	letter-spacing: 1.5vw;
	margin-top: 0.5vw;
	padding-left: 1vw;
    height: 7.5vw;
}

.enter {
	height: 66px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
  	animation-name: button_entry;
  	-webkit-animation-name: button_entry;
 	animation-duration: 3s;
}

.enter > a {
	text-decoration: none;
	text-align: center;
	display: block;
	width: 150px;
    font: 1.3em 'Poiret One',sans-serif;
	line-height: 38px;
	height: 40px;
	color: #888;
	margin: 0 auto;
	border: 1px solid #bbb;
	border-radius: 10px;
}

.enter > a:hover {
	color: #00e6b8;
	border-color: #00e6b8;
	animation-name: green_lantern;
	-webkit-animation-name: green_lantern;
	animation-duration: 0.3s;
}
