@import "home_slide.css";

.wrapper {
	padding-top: 0; /* In home screen, nav bar is transparent and does not require spacing to display all element */
}

.parallax {
	perspective: 1px; /* EVERYTHING renders relative to THIS DIV */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax_base, .parallax_back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax_back {
	transform: translateZ(-1px) scale(2);
}

.parallax_base {
	transform: translateZ(0);
}

header, .slideshow, .slideshow_2 {
	height: 100vh;
	width: 100vw;
	min-height: 25vw;
	position: relative;
	background: none;
}

.slideshow, .slideshow_2 {
	position: absolute;
	animation: slides 30s linear infinite;
	-webkit-animation: slides 30s linear infinite;
}

.slideshow_2 {
	/* Add this background just in case browser cannot use css animations */
	background: url("/img/home/home_slide1.png");
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;

	animation: slidesTwo 30s linear infinite;
	-webkit-animation: slidesTwo 30s linear infinite;
}

.nav_bar a {
	color: white;
}

.nav_bar a:hover {
  	color: #00e6b8;
  	animation-name: navbar_hover_2;
  	-webkit-animation-name: navbar_hover_2;
 	animation-duration: 0.2s;
}

.title {
	width: 100%;
	position: absolute;
    visibility: visible;
    margin-top: 34vh;
    margin-top: calc(42vh - 5vw);
  	animation-name: title_entry;
  	-webkit-animation-name: title_entry;
 	animation-duration: 1.2s;
}

.title > h1{ 
    font: 7vw Montserrat, sans-serif;
    color: white;
    width: 100%;
    height: 8vw;
    text-align: center;
}

.about_button {
	height: 86px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background: none;
}

.about_button > a {
	display: block;
    font: 1.3em 'Poiret One',sans-serif;
	line-height: 38px;
	height: 40px;
	width: 160px;
	color: rgba(255, 255, 255, 0.7);
	background: rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	border-radius: 20px;
}

.about_button > a:hover {
	color: white;
	background: rgba(0, 0, 0, 0.2);
	animation-name: about_hover;
	-webkit-animation-name: about_hover;
	animation-duration: 0.3s;
}

.intro {
	background: white;
	width: 100%;
}

.intro > div {
	width: 75vw;
	max-width: 750px;
	max-width: calc(25vw + 375px);
	margin: 0 auto;
	padding: 6vh 0 15vh 0;
	text-align: justify;
}

.intro > div > h2, 
.intro > div > h3,
.intro > div > h4 { 
	padding: 0;
	padding-bottom: 2vw;
}

.intro a {
	text-decoration: none;
	color: #3cc;
}

.intro a:hover {
	text-decoration: underline;
}

.personal_info {
	padding-left: 25px;
	float: right;
}

.personal_info > div {
    padding: 15px 0 10px 0;
}

.personal_info h4{
    color: #999;
    padding: 0;
    padding-bottom: 5px;
}

.green_divider {
	height: 40px;
	width: 100vw;
	padding-top: 15px;
	background: white;
}

.green_divider > div {
	border: 2px solid #3cc;
	border-radius: 2px;
	width: 80px;
	margin: 0 auto;
}

.sketches > div{
	padding: 0 0 25px 0;
}

.links{
	height: 25vw;
	background: none;
}

.t1 { background: url("/img/home/sketches/t1.png"); }
.t2 { background: url("/img/home/sketches/t2.png"); }
.t3 { background: url("/img/home/sketches/t3.png"); }
.t4 { background: url("/img/home/sketches/t4.png"); }
.t5 { background: url("/img/home/sketches/t5.png"); }
.t6 { background: url("/img/home/sketches/t6.png"); }
.t7 { background: url("/img/home/sketches/t7.png"); }
.t8 { background: url("/img/home/sketches/t8.png"); }
.t9 { background: url("/img/home/sketches/t9.png"); }
.t10 { background: url("/img/home/sketches/t10.png"); }
.t11 { background: url("/img/home/sketches/t11.png"); }
.t12 { background: url("/img/home/sketches/t12.png"); }
.t13 { background: url("/img/home/sketches/t13.png"); }
.t14 { background: url("/img/home/sketches/t14.png"); }
.t15 { background: url("/img/home/sketches/t15.png"); }
.t16 { background: url("/img/home/sketches/t16.png"); }
.t17 { background: url("/img/home/sketches/t17.png"); }
.t18 { background: url("/img/home/sketches/t18.png"); }
.t19 { background: url("/img/home/sketches/t19.png"); }
.t20 { background: url("/img/home/sketches/t20.png"); }
.t21 { background: url("/img/home/sketches/t21.png"); }

.links > li {
	height: 100%;
	width: 33.3%;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.links a {
	display: block;
	height: 100%;
	width: 100%;
}

.links a:hover {
	background: rgba(0,0,0,0.5);
  	animation-name: quicklink_hover;
  	-webkit-animation-name: quicklink_hover;
 	animation-duration: 0.2s;
}