@keyframes slides {
	0%	{ /* 2s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_1.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	17% { /* 4s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_1.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	25%	{ /* 2s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_2.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	42% { /* 4s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_2.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	50% { /* 2s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_3.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	67% { /* 4s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_3.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	75% { /* 2s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_4.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	92%  { /* 4s */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_4.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
	100% { /* back to beginning */
		width: 100%;
		min-width: 550px;
		min-height: 300px;
		padding-bottom: 52%;
		background: url("/img/home/home_slide_1.jpg");
		background-position: center center;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
		background-size: cover;
	}
}

header { /* In home page, this is the slideshow, not header. */
	width: 100%;
	min-width: 550px;
	min-height: 300px;
	padding-bottom: 52%;
	background: url("/img/home/home_slide_1.jpg");
	background-position: center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	animation-name: slides;
	animation-duration: 24s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
	position: relative;
}

header > div{ /* In homepage, this is the white transparent background */
    background: rgba(255, 255, 255, 0.5);
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
}

header > h1{ 
    font: 7vw 'Open Sans', 'Poiret One', serif;
    color: white;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    min-width: 550px;
}

.about {
	min-width: 550px;
	padding: 15px;
	background: #333;
}

.about ul li {
	list-style: none;
	text-align: left;
	float: right;
}

.about h1, h5{
	padding: 10px;
	color: white;
}

.about h1 {
    font: 3.6em 'Open Sans', 'Poiret One', sans-serif;
}

.about h5 {
    font: 2em Cinzel, 'Poiret One', serif;
}