@import url('https://fonts.googleapis.com/css?family=Cinzel');

@keyframes fade_in{
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fade_out{
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes accentuate_icon{
    from { opacity: 0.4; }
    to { opacity: 1; }
}

@keyframes -webkit-fade_in{
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes -webkit-fade_out{
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes -webkit-accentuate_icon{
    from { opacity: 0.4; }
    to { opacity: 1; }
}

#wrapper{
    max-width: 660px; /* Wrapper is narrow just for home page */
    padding: 0 15px; /* This is so contents don't touch the sides when the window shrinks. */
}

/* Timeline-specific font settings */
body * {
    text-align: center;
}
#homepage_title {
    font: 4em 'Cinzel', serif;
    letter-spacing: 0.1em;
    margin: 50px 15px 35px 15px;
    color: #444;
}
#work_section_title,
#blogpost_container > h2{
    /* This tag indicates subtitles. Make it smaller. */
    font-size: 1.5em;
    margin-top: 30px;
}

/* Social Media Icons */
.quick_link_list{
    width: 230px;
    height: 36px;
}
.quick_link_list > li {
    width: 25%;
}
.quick_link_list img{
    opacity: 0.4;
}
.quick_link_list img:hover{
    opacity: 1;
    animation-name: accentuate_icon;
    -webkit-animation-name: accentuate_icon;
    animation-duration: 0.2s;
}

/* The Spacer */
.spacer {
    border-top: 1px solid #aaa;
    margin: 25px 10%;
}

/* Project links */
/* Somehow setting background on anchor doesn't work. So I have to set background on divs. */
.seltra_link_background{ background: url("../img/home/seltra.png"); }
.monolith_link_background{ background: url("../img/home/monolith.png"); }
.x_link_background{ background: url("../img/home/x.png"); }
.ink_link_background{ background: url("../img/home/ink.png"); }
.listen_link_background{ background: url("../img/home/listen.png"); }
.project_backgrounds{
    margin: 30px 0;
    height: 100px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -webkit-background-position: center;
}
.article_anchor h2 {
    color: white;
    line-height: 100px;
}
.article_anchor:hover h2 {
    opacity: 0;
    animation-name: fade_out;
    -webkit-animation-name: fade_out;
    animation-duration: 0.3s;
}

/* Fancy animation for blog posts. */
#blogpost_container * {
    animation-name: fade_in;
    -webkit-animation-name: fade_in;
    animation-duration: 1s;
}

#button_to_top {
    position: fixed;
    top: 24px;
    right: 24px;
    opacity: 0.4;
}
#button_to_top:hover {
    opacity: 1;
    animation-name: accentuate_icon;
    -webkit-animation-name: accentuate_icon;
    animation-duration: 0.2s;
}