@keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	28.3% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	33.3% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	61.6% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	66.6% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	95% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }
@-webkit-keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	28.3% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	33.3% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	61.6% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	66.6% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	95% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }
@-moz-keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	28.3% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	33.3% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	61.6% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	66.6% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	95% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }
 /*@keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	20% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	25% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	45% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	50% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	70% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	75% { 
	background: url("/img/home/home_slide4.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	95% { 
	background: url("/img/home/home_slide4.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }
@-webkit-keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	20% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	25% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	45% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	50% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	70% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	75% { 
	background: url("/img/home/home_slide4.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	95% { 
	background: url("/img/home/home_slide4.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }
@-moz-keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	20% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	25% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	45% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	50% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	70% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	75% { 
	background: url("/img/home/home_slide4.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	95% { 
	background: url("/img/home/home_slide4.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }*/