@keyframes title_entry{
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}
	50% {
		transform: translateX(-50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes -webkit-title_entry{
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}
	50% {
		transform: translateX(-50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.title {
	background: #cdf;
	width: 100%;
    text-align: center;
    margin-top: 34vh;
    margin-top: calc(42vh - 6vw);
  	animation-name: title_entry;
  	-webkit-animation-name: title_entry;
 	animation-duration: 1.2s;
}

.title h1{ 
    font: 10vw Cinzel, sans-serif;
    color: #444;
    width: 100%;
}

.hook {
	width: 75vw;
	max-width: 750px;
	max-width: calc(25vw + 375px);
	margin: 0 auto;
	padding: 6vh 0 15vh 0;
	text-align: center;
}

.title h4 {
    padding: 15px 0 20px 0;
}

.line_border {
	border: 1px solid #444;
	width: 10vw;
	margin: 0 auto;
}