@keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	13.7% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	16.7% { 
	background: none;
 	}
 	30.3% {
	background: none;
 	}
 	33.3% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	47% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	50% { 
	background: none;
 	}
 	63.7% { 
	background: none;
 	}
 	66.7% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	80.3% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	83.3% { 
	background: none;
 	}
 	97% { 
	background: none;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }
@-webkit-keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	13.7% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	16.7% { 
	background: none;
 	}
 	30.3% {
	background: none;
 	}
 	33.3% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	47% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	50% { 
	background: none;
 	}
 	63.7% { 
	background: none;
 	}
 	66.7% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	80.3% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	83.3% { 
	background: none;
 	}
 	97% { 
	background: none;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }
@-moz-keyframes slides {
 	0% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	13.7% {
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	16.7% { 
	background: none;
 	}
 	30.3% {
	background: none;
 	}
 	33.3% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	47% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	50% { 
	background: none;
 	}
 	63.7% { 
	background: none;
 	}
 	66.7% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	80.3% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	83.3% { 
	background: none;
 	}
 	97% { 
	background: none;
 	}
 	100% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 }

 @keyframes slides2 {
 	0% { 
	background: none;
 	}
 	13.7% {
	background: none;
 	}
 	16.7% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	30.3% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	33.3% { 
	background: none;
 	}
 	47% { 
	background: none;
 	}
 	50% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	63.7% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	66.7% { 
	background: none;
 	}
 	80.3% { 
	background: none;
 	}
 	83.3% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	97% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: none;
 	}
 }
@-webkit-keyframes slides2 {
 	0% { 
	background: none;
 	}
 	13.7% {
	background: none;
 	}
 	16.7% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	30.3% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	33.3% { 
	background: none;
 	}
 	47% { 
	background: none;
 	}
 	50% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	63.7% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	66.7% { 
	background: none;
 	}
 	80.3% { 
	background: none;
 	}
 	83.3% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	97% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: none;
 	}
 }
@-moz-keyframes slides2 {
 	0% { 
	background: none;
 	}
 	13.7% {
	background: none;
 	}
 	16.7% { 
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	30.3% {
	background: url("/img/home/home_slide2.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	33.3% { 
	background: none;
 	}
 	47% { 
	background: none;
 	}
 	50% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	63.7% { 
	background: url("/img/home/home_slide1.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	66.7% { 
	background: none;
 	}
 	80.3% { 
	background: none;
 	}
 	83.3% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	97% { 
	background: url("/img/home/home_slide3.png");
	
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	background-position: center;
	-moz-background-position: center;
	-webkit-background-position: center;
 	}
 	100% { 
	background: none;
 	}
 }

@keyframes navbar_hover_2{
	0% {color: white;}
	100% {color: #00e6b8;}
}
@keyframes -moz-navbar_hover_2{
	0% {color: white;}
	100% {color: #00e6b8;}
}
@keyframes -webkit-navbar_hover_2{
	0% {color: white;}
	100% {color: #00e6b8;}
}

@keyframes title_entry{
	0% {
		transform: translateY(4vw);
		opacity: 0;
	}
	70% {
		transform: translateY(4vw);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes -moz-title_entry{
	0% {
		transform: translateY(4vw);
		opacity: 0;
	}
	70% {
		transform: translateY(4vw);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes -webkit-title_entry{
	0% {
		transform: translateY(4vw);
		opacity: 0;
	}
	70% {
		transform: translateY(4vw);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes quicklink_hover{
	0% {background: rgba(0,0,0,0.3);}
	100% {background: rgba(0,0,0,0.6);}
}
@keyframes -moz-quicklink_hover{
	0% {background: rgba(0,0,0,0.3);}
	100% {background: rgba(0,0,0,0.6);}
}
@keyframes -webkit-quicklink_hover{
	0% {background: rgba(0,0,0,0.3);}
	100% {background: rgba(0,0,0,0.6);}
}

@keyframes about_hover {
	from { color: rgba(255, 255, 255, 0.7); background: rgba(0, 0, 0, 0.1); }
	to   { color: white; background: rgba(0, 0, 0, 0.2); }
}