.poster{
	padding-top: 0;
	height: calc(55.13vw - 11.25px);
}

iframe {
	width: 100%;
	height: 100%;
}

a{
	text-align: left;
}

.s1{ background: url("/img/ink/s1.png"); }
.s2{ background: url("/img/ink/s2.png"); }
.s3{ background: url("/img/ink/s3.png"); }
.s4{ background: url("/img/ink/s4.png"); }
.s5{ background: url("/img/ink/s5.png"); }
.s6{ background: url("/img/ink/s6.png"); }
.s7{ background: url("/img/ink/s7.png"); }
.s8{ background: url("/img/ink/s8.png"); }
.s9{ background: url("/img/ink/s9.png"); }
.photolist li{
	width: calc(33.3% - 1vw);
	height: calc(59.2% - 0.56vw);
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}