.intro{
	width: 75vw;
	max-width: calc(375px + 25vw);
	margin: calc(10px + 1vw) auto;
	padding-top: 8vw;
	text-align: justify;
  	animation-name: slide_up;
  	-webkit-animation-name: slide_up;
 	animation-duration: 0.6s;
}

.photolist li{
	padding: auto;
	float: none;
	margin: 8vw;
  	animation-name: slide_up;
  	-webkit-animation-name: slide_up;
 	animation-duration: 0.9s;
}