@import url('https://fonts.googleapis.com/css?family=Rye|Open+Sans:800|Old+Standard+TT:400,400italic');

@keyframes fade_in{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes -webkit-fade_in{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes menu_hover{
	0% {opacity: 0; transform: translateX(-25%);}
	100% {opacity: 1; transform: translateX(0);}
}
@keyframes -webkit-menu_hover{
	0% {opacity: 0; transform: translateX(-25%);}
	100% {opacity: 1; transform: translateX(0);}
}

@keyframes menu_hover2{
	0% {opacity: 0; transform: translateX(50%);}
	100% {opacity: 1; transform: translateX(0);}
}
@keyframes -webkit-menu_hover2{
	0% {opacity: 0; transform: translateX(50%);}
	100% {opacity: 1; transform: translateX(0);}
}

*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	z-index: 0; /* Set so that header always stays on top. Keep it as 0 SPECIFICALLY */
}

body {
	background: white;
    font-size: 62.5%;
}

#wrapper{
	font-size: 1.6em;
	margin: 0 auto; /* Automatically centers item */
  	animation-name: fade_in;
  	-webkit-animation-name: fade_in;
 	animation-duration: 0.6s;
}

ul {
	width: 100vw;
    margin: 0 auto;
}

li {
	list-style: none;
	text-align: center;
	float: left;
}

a {
	text-decoration: none;
	text-align: center;
}

h2, h3, h4{
    font: 2.8em 'Open Sans', sans-serif;
	color: #444;
	padding: 1vw;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
	color: #999;
}

h4 {
    font: 1.1em 'Old Standard TT', serif;
}

header {
    width: 100%;
    text-align: center;
    z-index: 1000;
}

.title-link {
	height: 100%;
    display: table;
    margin: 0 auto;
}

.title-link > a {
	display: table-cell;
	vertical-align: middle;
    font: calc(2em + 1.5vw) Rye,serif;
    color: #444;
}

/* Link div */
.menulink{
	position: absolute;
    display: table;
	height: calc(2em + 3vw);
}
.timeline-button { left: 0; }
.blog-button{ right: 0; }

/* Icon buttons */
.timeline-button a{ background: url("/img/ic_timeline.png"); }
.blog-button a { background: url("/img/ic_blog.png"); }
.menulink a{
	display: table;
	position: relative;
	width: calc(2em + 1vw);
	height: calc(2em + 1vw);
	margin: 1vw;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

/* TIMELINE, BLOG */
.menulink h5{
	visibility: hidden;
	position: absolute;
	padding: calc(0.3em + 0.7vw) 0;
    font: 1.1em Rye,sans-serif;
    color: #444;
}
.timeline-button h5 {
	width: 120px;
    left: calc(1.5em + 2vw);
}
.blog-button h5{
	right: calc(1.5em + 2vw);
}
.menulink > a:hover > h5 {
	visibility: visible;
  	animation-name: menu_hover;
  	-webkit-animation-name: menu_hover;
 	animation-duration: 0.2s;
}
.blog-button > a:hover > h5 {
  	animation-name: menu_hover2;
  	-webkit-animation-name: menu_hover2;
 	animation-duration: 0.2s;
}

.contacts{
	position: relative;
	margin: 0 calc(0.3em + 0.7vw);
	border-top: 3px double #444;
	border-bottom: 3px double #444;
}
.since{ 
	padding: 0;
	height: 36px; 
	padding-top: 6px;
	margin: 0 auto;
}
.phone { 
	position: absolute;
	left: 10px;
	padding-top: 6px;
}
.contacts h4 { font-style: italic; }
.quick_links {
	position: absolute;
	right: 10px;
	max-width: 200px;
	height: 36px;
}
.qli {
	position: relative;
	width: 25%;
	padding: 6px 10px 0 10px;
}
.tumblr{
	padding-top: 3px;
}
.quick_links a {
	display: block;
	line-height: 30px;
	height: 30px;
}

footer {
	width: 100%;
	margin: 25px auto;
	text-align: center;
}

footer h6 {
	font: 1em 'Old Standard TT', sans-serif;
	font-style: italic;
	color: #888;
	line-height: 60px;
	border-top: 1px solid #bbb;
	margin: 0 15vw;
}
