*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    background: #fff;
    font-size: 62.5%;
}

.wrapper{
	font-size: 1.6em;
	margin: 0 auto; /* Automatically centers item */
	width: 100%;
}

.main {
	width: 100%;
	margin: 0 auto; /* Automatically centers item */
	background-image: url("/img/for_home/home_slide_1.jpg");
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	clear: bottom;
}

header {
    background: rgba(255,255,255,0.5);
    height: 50px;
    width: 100%;
    float: top;
}

.nav_bar {
    width: 550px; /* Minimum width for the buttons. */
    position: relative; /*This nav bar is the position origin for all others*/
    margin: 0 auto;
}

.nav_bar li { /*Nav Bar Items (including mega drop down menu)*/
	list-style: none;
	clear: left; /* Horizontally lays out list items with top on the left. */
	text-align: center;
	width: 25%; /*Default value: 4 nav buttons in menu equally distributed. horizontally centers/scales items*/
}

.nav_bar > li > a{ /* HOME, PROJECTS, ABOUT, CONTACT buttons */
    font: 1.6em Abel,Roboto,sans-serif;
    color: #444444;
    text-decoration: none;
    line-height: 50px; /*This vertically centers the anchors*/
    height: 50px; /* This limits the height so it fits inside the nav bar */
}

.nav_bar > li > a:hover {
    color: #9df;
}

.nav_bar > li > div{ /* Drop Down Menu */
	position: absolute;
	left: 0;
	top: 50px;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
    display: none; /* Hides normally */
}

.nav_bar > li:hover > div{
    display: block; /* Shows drop down menu when hovered its parent li */
}

.menu_drop_down {

}

.slideshow {
	width: 100%;
	margin: 0 auto;
}