.titled-slideshow, 
.sample_image_with_link{ width: 33.3%; }
.sample_image_with_link a { height: 20vw; }

/* Carousel style */
.carousel-indicators > li{ border-color: #666; }
.carousel .active{ background-color: #666; }
.carousel-inner{
    margin-top: 0.5vw;
    border-radius: 5px;
}
/* These indicator margins are to center the indicators depending on slide count */
#mainCarousel > .carousel-indicators{ margin-left: -30px; }
#seltraCarousel > .carousel-indicators{ margin-left: -12px; }
#weaponsCarousel > .carousel-indicators{ margin-left: -24px; }

#wrapper .poster {
    height: 90vw;
}
@media (min-width: 960px){
    #wrapper .poster {
        height: 45vw; 
        /* Trying to make the poster square */
    }
}
.poster{ background: url("../img/monolith/poster.png"); }
.m1{ background: url("../img/monolith/m1.png"); }
.m2{ background: url("../img/monolith/m2.png"); }
.m3{ background: url("../img/monolith/m3.png"); }
.m4{ background: url("../img/monolith/m4.png"); }
.m5{ background: url("../img/monolith/m5.png"); }
.sel1{ background: url("../img/monolith/sel1.png"); }
.sel2{ background: url("../img/monolith/sel2.png"); }
.war1{ background: url("../img/monolith/war1.png"); }
.war2{ background: url("../img/monolith/war2.png"); }
.war3{ background: url("../img/monolith/war3.png"); }
.war4{ background: url("../img/monolith/war4.png"); }
.bol1{ background: url("../img/monolith/bol1.jpg"); }
.bol2{ background: url("../img/monolith/bol2.jpg"); }
.bol3{ background: url("../img/monolith/bol3.jpg"); }
.aow1{ background: url("../img/monolith/aow1.jpg"); }
.aow2{ background: url("../img/monolith/aow2.jpg"); }
.aow3{ background: url("../img/monolith/aow3.jpg"); }
.aow4{ background: url("../img/monolith/aow4.jpg"); }
.aow5{ background: url("../img/monolith/aow5.jpg"); }
.aow6{ background: url("../img/monolith/aow6.jpg"); }
.item{
    /* The carousel content */
    padding-top: calc(54.5vw - 11.7px);
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}