.parallax {
	perspective: 1px; /* EVERYTHING renders relative to THIS DIV */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax_base, .parallax_back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax_back {
	transform: translateZ(-1px) scale(2);
}

.parallax_base {
	transform: translateZ(0);
}