.poster{
	margin: 1vw;
	width: 98vw;
	padding-top: 49vw;
	background: url("/img/seltra/poster.png");
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.description{
	display: table;
	padding: 1vw;
}

.specifics{
	display: table-cell;
	width: 20%;
	padding: 1vw;
	padding-top: 0;
}

.specifics h3{
	font-size: 1.8em;
}

.specifics h4{
	color: #999;
	font-size: 0.9em;
}

.intro{
	text-align: justify;
	display: table-cell;
	width: 80%;
	padding: 1vw;
	padding-top: 0;
}