.poster{
	margin: 2vw;
	margin-bottom: 0;
	width: 96vw;
	padding-top: 48vw;
	background: url("/img/seltra/poster.png");
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.description{
	display: table;
	padding: 2vw;
}
.description div {
	display: table-cell;
	padding: 1vw;
	padding-top: 0;
}

.specifics{
	width: 20%;
}
.specifics h3{
	font-size: 1.2em;
	color: #666;
	padding-bottom: 1vw;
}
.specifics h4{
	color: #888;
	font-size: 0.8em;
}

.intro{
	text-align: justify;
	width: 80%;
}
.intro h4, .intro h3, .process h4, .process h3{
	padding-top: 0.5vw;
}

.versions{
	padding: 2vw;
	margin-bottom: 50vw;
	z-index: 100;
}

.v1{ background: url("/img/seltra/v1.jpg"); }
.v2{ background: url("/img/seltra/v2.jpg"); }
.v3{ background: url("/img/seltra/v3.jpg"); }
.v4{ background: url("/img/seltra/v4.jpg"); }
.v5{ background: url("/img/seltra/v5.jpg"); }
.v6{ background: url("/img/seltra/v6.jpg"); }
.v7{ background: url("/img/seltra/v7.jpg"); }
.v8{ background: url("/img/seltra/v8.jpg"); }
.har1{ background: url("/img/seltra/har1.png"); }
.har2{ background: url("/img/seltra/har2.png"); }
.versions li, .hardships li {
	list-style: none;
	float: left;
	width: 23vw;
	height: 23vw;
	min-width: 250px;
	min-height: 250px;
	border-radius: 50%;
	margin: 0.5vw;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.versions a{
	display: block;
	background: rgba(0,0,0,0.4);
	visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	text-align: center;
	padding: 4vw;
}

.versions > ul > li:hover > a{
	visibility: visible;
  	animation-name: fade_in;
  	-webkit-animation-name: fade_in;
 	animation-duration: 0.3s;
}

.versions h4{
	font-style: italic;
	color: white;
}

.process{
	margin: 2vw;
	text-align: justify;
}

