/* Poster height */
#wrapper .poster { height: 90vw; }
@media (min-width: 960px){
    #wrapper .poster { height: 45vw; }
}
/* Screenshot styles */
.sample_image_with_link{ width: 33%; }
.sample_image_with_link a { height: 30vw; }
.poster{ background: url("../img/seltra/poster.jpg"); }
.s1{ background: url("../img/seltra/s1_thumb.jpg"); }
.s2{ background: url("../img/seltra/s2_thumb.jpg"); }
.s3{ background: url("../img/seltra/s3_thumb.jpg"); }
.s4{ background: url("../img/seltra/s4_thumb.jpg"); }
.s5{ background: url("../img/seltra/s5_thumb.jpg"); }
.s6{ background: url("../img/seltra/s6_thumb.jpg"); }
.s7{ background: url("../img/seltra/s7_thumb.jpg"); }
.s8{ background: url("../img/seltra/s8_thumb.jpg"); }
.s9{ background: url("../img/seltra/s9_thumb.jpg"); }
.s10{ background: url("../img/seltra/s10_thumb.jpg"); }
.s11{ background: url("../img/seltra/s11_thumb.jpg"); }
.s12{ background: url("../img/seltra/s12_thumb.jpg"); }
.s13{ background: url("../img/seltra/s13_thumb.jpg"); }
.s14{ background: url("../img/seltra/s14_thumb.jpg"); }
.s15{ background: url("../img/seltra/s15_thumb.jpg"); }