.poster{
	margin: 2vw;
	margin-bottom: 0;
	width: 96vw;
	padding-top: 48vw;
	background: url("/img/seltra/poster.png");
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.description{
	display: table;
	padding: 2vw;
}
.description div {
	display: table-cell;
	padding: 1vw;
	padding-top: 0;
}

.specifics{
	width: 20%;
}
.specifics h3{
	font-size: 1.2em;
	color: #666;
	padding-bottom: 1vw;
}
.specifics h4{
	color: #888;
	font-size: 0.8em;
}

.intro{
	text-align: justify;
	width: 80%;
}
.intro h4, .intro h3, .process h4, .process h3{
	padding-top: 0.5vw;
}

.versions{
	padding: 2vw;
	margin-bottom: 50vw;
}
.carousel { 
	margin: 2vw;
}

.v1{ background: url("/img/seltra/v1.jpg"); }
.v2{ background: url("/img/seltra/v2.jpg"); }
.v3{ background: url("/img/seltra/v3.jpg"); }
.v4{ background: url("/img/seltra/v4.jpg"); }
.v5{ background: url("/img/seltra/v5.jpg"); }
.v6{ background: url("/img/seltra/v6.jpg"); }
.v7{ background: url("/img/seltra/v7.png"); }
.v8{ background: url("/img/seltra/v8.png"); }

.s1{ background: url("/img/seltra/slides/s1.jpg"); }
.s2{ background: url("/img/seltra/slides/s2.jpg"); }
.s3{ background: url("/img/seltra/slides/s3.jpg"); }
.s4{ background: url("/img/seltra/slides/s4.jpg"); }
.s5{ background: url("/img/seltra/slides/s5.jpg"); }
.s6{ background: url("/img/seltra/slides/s6.jpg"); }
.s7{ background: url("/img/seltra/slides/s7.png"); }
.s8{ background: url("/img/seltra/slides/s8.png"); }
.s9{ background: url("/img/seltra/slides/s9.png"); }
.s10{ background: url("/img/seltra/slides/s10.jpg"); }
.s11{ background: url("/img/seltra/slides/s11.png"); }
.s12{ background: url("/img/seltra/slides/s12.png"); }
.s13{ background: url("/img/seltra/slides/s13.png"); }
.s14{ background: url("/img/seltra/slides/s14.png"); }
.s15{ background: url("/img/seltra/slides/s15.png"); }
.s16{ background: url("/img/seltra/slides/s16.png"); }

.versions li, .carousel-inner > .item{
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.carousel-inner > .item {
	padding-top: 46vw;
}

.versions li{
	list-style: none;
	float: left;
	width: 22vw;
	height: 22vw;
	border-radius: 50%;
	margin: 1vw;
}

.versions a{
	display: block;
	background: rgba(0,0,0,0.4);
	visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	text-align: center;
	padding: 4vw;
	padding-top: 6vw;
}

.versions > li:hover > a{
	visibility: visible;
  	animation-name: fade_in;
  	-webkit-animation-name: fade_in;
 	animation-duration: 0.3s;
}

.versions h4{
	font-style: italic;
	color: white;
}

.process{
	margin: 2vw;
	text-align: justify;
}

