/* Poster height */
#wrapper .poster { height: 90vw; }
@media (min-width: 960px){
    #wrapper .poster { height: 45vw; }
}
/* Screenshot styles */
.sample_image_with_link{ width: 33%; }
.sample_image_with_link a { height: 30vw; }
.poster{ background: url("../img/seltra/poster.png"); }
.s1{ background: url("../img/seltra/s1.jpg"); }
.s2{ background: url("../img/seltra/s2.jpg"); }
.s3{ background: url("../img/seltra/s3.jpg"); }
.s4{ background: url("../img/seltra/s4.jpg"); }
.s5{ background: url("../img/seltra/s5.jpg"); }
.s6{ background: url("../img/seltra/s6.jpg"); }
.s7{ background: url("../img/seltra/s7.jpg"); }
.s8{ background: url("../img/seltra/s8.jpg"); }
.s9{ background: url("../img/seltra/s9.jpg"); }
.s10{ background: url("../img/seltra/s10.jpg"); }
.s11{ background: url("../img/seltra/s11.jpg"); }
.s12{ background: url("../img/seltra/s12.jpg"); }
.s13{ background: url("../img/seltra/s13.jpg"); }
.s14{ background: url("../img/seltra/s14.jpg"); }
.s15{ background: url("../img/seltra/s15.jpg"); }