.poster{
	margin: calc(10px + 1vw);
	margin-bottom: 0;
	width: 100%;
	padding-top: 48vw;
	background: url("/img/seltra/poster.png");
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.description{
	display: table;
	padding: calc(10px + 1vw);
}
.description div {
	display: table-cell;
	padding: 1vw;
	padding-top: 0;
}

.specifics{
	width: 20%;
}
.specifics h3{
	font-size: 1.2em;
	color: #666;
	padding-bottom: 1vw;
}
.specifics h4{
	color: #888;
	font-size: 0.8em;
}

.intro{
	text-align: justify;
	width: 80%;
}
.intro h4, .intro h3, .full-width-paragraph h4, .full-width-paragraph h3{
	padding-top: 0.5vw;
}

.full-width-paragraph{
	margin: calc(10px + 1vw);
	text-align: justify;
}