.poster{
	margin: calc(10px + 1vw);
	margin-bottom: 0;
	width: calc(98vw - 20px);
	padding-top: 48vw;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}
.main{
	display: table;
	padding: calc(10px + 1vw);
}
.main > div {
	display: table-cell;
	width: 50%;
	padding: 1vw;
}
.carousel { 
	width: 100%;
}
.specifics{
	width: 40%;
}
.specifics h3{
	font-size: 1.2em;
	color: #666;
	padding-bottom: 1vw;
}
.specifics h4{
	color: #888;
	font-size: 0.8em;
}
.intro h4, .intro h3, .full-width-paragraph h4, .full-width-paragraph h3{
	padding-top: 0.5vw;
}
.full-width-paragraph{
	margin: calc(10px + 1vw);
}