.poster{
	margin: calc(10px + 1vw);
	width: calc(98vw - 20px);
	padding-top: calc(49vw - 10px);
	margin-top: 0.5vw;
	margin-bottom: 0;
	border-radius: 5px;
    /*-webkit-column-count: 2;
    column-count: 2;*/
}/*
.poster{
	float: left;
	margin: 1vw;
	width: calc(47vw - 10px);
	padding-top: 46vw;
}*/
.slide-table{
	display: table;
	padding: calc(10px + 1vw);
}
.slide-table > div {
	display: table-cell;
	vertical-align: top;
	padding: 1vw;
}
.main > div{
	width: 50%;
}
.threefold > .wider {
	width: 66.6%;
}
.threefold > .narrower {
	width: 33.3%;
}
.carousel { 
	width: 100%;
}
.carousel-inner{
	border-radius: 10px;
}
.mainCarousel .item {
	height: 46vw;
}
.threefoldCarousel .item {
	height: 30vw;
}
.specifics{
	width: 20%;
}
.intro {
	width: 80%;
}
.specifics h3{
	font-size: 1.2em;
	color: #666;
	padding: 1vw 0;
}
.specifics h4{
	color: #888;
	font-size: 0.8em;
}
.description h4, .description h3{
	padding-top: 0.5vw;
}

.full-width-paragraph{
	margin: calc(10px + 1vw);
}