.poster{
	padding-top: 0;
	height: calc(55.13vw - 11.25px);
}

iframe {
	width: 100%;
	height: 100%;
}

a{
	text-align: left;
}

.s1{ background: url("/ihmaegie349pr/ink/s1.png"); }
.s2{ background: url("/ihmaegie349pr/ink/s2.png"); }
.s3{ background: url("/ihmaegie349pr/ink/s3.png"); }
.s4{ background: url("/ihmaegie349pr/ink/s4.png"); }
.s5{ background: url("/ihmaegie349pr/ink/s5.png"); }
.s6{ background: url("/ihmaegie349pr/ink/s6.png"); }
.s7{ background: url("/ihmaegie349pr/ink/s7.png"); }
.s8{ background: url("/ihmaegie349pr/ink/s8.png"); }
.photolist li{
	width: calc(25% - 1vw);
	height: 43vw;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
	-webkit-background-position: center;
}

.photolist{
	margin-bottom: 88vw;
}

.special h3{
	padding-left: 0.5vw;
}