@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400italic|Montserrat|Open+Sans:300');

/* Site-specific list parameters */
ul {
	width: 100%;
    margin: 0 auto;
}
li {
	text-align: center;
	float: left;
}
a {
	text-align: center;
}

/* Website font setting */
h2, h3, h4{
    font: 1.6em 'Old Standard TT', serif;
	color: #444;
}
h2 {
    font: 2.8em 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3em;
}
h4 {
    font: 1em 'Open Sans', sans-serif;
    line-height: 27px;
    text-align: justify;
}

/* Footer style. */
#custom_footnote {
	font-size: 1em;
	color: #666;
	line-height: 60px;
	border-top: 1px solid #666;
	margin: 75px 15% 60px 15%; /* Creates an invisible box around footnote */
    text-align: center;
}