@import url('https://fonts.googleapis.com/css?family=Cinzel');
@keyframes fade_out{
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes -webkit-fade_out{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#wrapper{
    max-width: 660px;
}

/* The title. */
header > h1 {
    font: 4em 'Cinzel', serif;
    letter-spacing: 0.25em;
    color: #444;
}

/* START Social Media Icons */
.quick_link_list{
    width: 230px;
    height: 36px;
}
.quick_link_list > li {
    position: relative;
    width: 25%;
}
/* END Social Media Icons */

/* Self Intro paragraph */
.intro{
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.intro > h3 {
    font-size: 0.8em;
}
/* END Self Intro paragraph */

/* Project links */
.article_anchor{
    width: 100%;
    border-radius: 5px; /* This is so the click radius is trimmed */
}
.article_anchor h2 {
    color: white;
    line-height: 100px;
}
.article_anchor:hover h2 {
    opacity: 0;
    animation-name: fade_out;
    -webkit-animation-name: fade_out;
    animation-duration: 0.3s;
}
.seltra_link_background{ background: url("/ihmaegie349pr/timeline/seltra.png"); }
.monolith_link_background{ background: url("/ihmaegie349pr/timeline/monolith.png"); }
.x_link_background{ background: url("/ihmaegie349pr/timeline/x.png"); }
.ink_link_background{ background: url("/ihmaegie349pr/timeline/ink.png"); }
.listen_link_background{ background: url("/ihmaegie349pr/timeline/listen.png"); }
.project_backgrounds{
    margin-top: 30px;
    height: 100px;
    border-radius: 5px; /* This is so the image is trimmed on the corners */
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -webkit-background-position: center;
}
/* END Project links */