@import url('https://fonts.googleapis.com/css?family=Cinzel|Open+Sans:300');
@keyframes social_icon_fade_in{
    0% { opacity: 0.4; }
    100% { opacity: 1; }
}
@keyframes -webkit-social_icon_fade_in{
    0% { opacity: 0.4; }
    100% { opacity: 1; }
}
@keyframes fade_out{
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes -webkit-fade_out{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#wrapper{
    max-width: 660px; /* Wrapper is narrow just for home page */
    padding: 0 15px; /* This is so contents don't touch the sides when the window shrinks. */
}

/* The title. */
header > h1 {
    font: 4em 'Cinzel', serif;
    letter-spacing: 0.25em;
    color: #444;
}

/* Social Media Icons */
.quick_link_list{
    width: 230px;
    height: 36px;
}
.quick_link_list > li {
    width: 25%;
}
.quick_link_list img{
    opacity: 0.4;
}
.quick_link_list img:hover{
    opacity: 1;
    animation-name: social_icon_fade_in;
    -webkit-animation-name: social_icon_fade_in;
    animation-duration: 0.2s;
}

/* The "intro" class is important because the text-align for just this paragraph is center. */
.intro > h4 { 
    font: 1em 'Open Sans', sans-serif;
    text-align: center;
    line-height: 27px;
}

/* Project links */
/* Somehow setting background on anchor doesn't work. So I have to set background on divs. */
.seltra_link_background{ background: url("/ihmaegie349pr/timeline/seltra.png"); }
.monolith_link_background{ background: url("/ihmaegie349pr/timeline/monolith.png"); }
.x_link_background{ background: url("/ihmaegie349pr/timeline/x.png"); }
.ink_link_background{ background: url("/ihmaegie349pr/timeline/ink.png"); }
.listen_link_background{ background: url("/ihmaegie349pr/timeline/listen.png"); }
.project_backgrounds{
    margin-top: 30px;
    height: 100px;
    border-radius: 5px; /* This is so the image is trimmed on the corners */
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -webkit-background-position: center;
}
.article_anchor{
    width: 100%;
    border-radius: 5px; /* This is so the click radius is trimmed */
}
.article_anchor h2 {
    color: white;
    line-height: 100px;
}
.article_anchor:hover h2 {
    opacity: 0;
    animation-name: fade_out;
    -webkit-animation-name: fade_out;
    animation-duration: 0.3s;
}