#wrapper{
    max-width: 750px;
}
.title-link {
    height: 100%;
    display: table;
    margin: 0 auto;
}
.title-link > a {
    display: table-cell;
    vertical-align: middle;
    font: calc(2em + 1.5vw) Rye,serif;
    -webkit-font-size: calc(2em + 1.5vw);
    color: #444;
}

.intro{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.quick_links {
    position: absolute;
    right: 10px;
    max-width: 200px;
    height: 36px;
}
.qli {
    position: relative;
    width: 25%;
    padding: 6px 5px 0 15px;
}
.tumblr{
    padding: 3px 10px 0 10px;
}
.quick_links a {
    display: block;
    line-height: 30px;
    height: 30px;
}

.articles > a{ 
    width: 25%; 
    border-radius: 5px;
}

.seltra{ background: url("/ihmaegie349pr/frontpage/seltra.png"); }
.ink{ background: url("/ihmaegie349pr/frontpage/ink.png"); }
.listen{ background: url("/ihmaegie349pr/frontpage/listen.png"); }
.monolith{ background: url("/ihmaegie349pr/frontpage/monolith.png"); }
.peek{
    padding-bottom: 1vw;
    width: 100%;
    height: 17vw;
    border-radius: 5px;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    -webkit-background-position: center;
}